body {
	font-family: 'Roboto', sans-serif;
}


#title {
	text-align: center;
	font-size: 28px;
	color: #fff;
}

.wrapper {
	width: 100%;
	height: auto;
	margin: 10px auto;
	border: 1px solid #cbcbcb;
	background-image: url(img/taskList.jpg);
	background-size: cover;
	background-position: center;
	

}

/*
* LIST TASK
**/

.comment_form {
	width: 80%;
	margin: 100px auto;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 500px 100px #2216C7;
box-shadow: 0 0 500px 100px #fff;
	padding: 20px;
	text-shadow: 1px 1px 10px #000000;
	
}

.comment_form label {
	display: block;
	margin: 5px 0px 5px 0px;
	color:#fff;
}

.comment_form input,
textarea {
	padding: 5px;
	width: 95%;
}

#submit_btn,
#update_btn {
	padding: 8px 15px;
	color: white;
	background: #339;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
}

#update_btn {
	background: #1c7600;
}

/*
* TASK DISPLAY AREA
**/

#display_area {
	width: 90%;
	padding-top: 15px;
	margin: 10px auto;
}

.comment_box {
	cursor: default;
	margin: 5px;
	border: 1px solid #cbcbcb;
	padding: 5px 10px;
	position: relative;
}

.delete {
	position: absolute;
	top: 0px;
	right: 3px;
	color: red;
	padding: 10px;
/*	display: none;*/
	cursor: pointer;
}

.edit {
	position: absolute;
	top: 0px;
	right: 45px;
	color: green;
	padding: 10px;
/*	display: none;*/
	cursor: pointer;
}

.comment_box .edit,
.comment_box .delete {
	display: block;
}

.comment_text {
	text-align: justify;
}

.display_name {
	color: blue;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}
